body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

pre {
  border-radius: 3px;
  background-color: #f3f7f7;
  padding: 15px;

  white-space: pre-wrap;
  white-space: moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre code {
  color: black;
  font-weight: 550;
}

body {
  height: 100%;
}
/* "monospace" */

::-webkit-scrollbar {
  background-color: transparent;
  width: 7px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 20px; /* roundness of the scroll thumb */
}
